*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root{
 --main-margin:10px 20px;
 /* --color:red; */
}
.main-header{
  margin: var(--main-margin);
  align-items: center;
  justify-content: center;
}
 .main-icon img {
  width: 34px;
  height: 44px;
}
.main-icon{
 
  display: flex;
  align-items: center;

}
h1{
  color:var(--color);
}
.nav1{
  display: flex;
  justify-content: space-between;
}
.search-bar-cotent{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.search-bar{
  border-radius: 28px;
  padding: 10px 10px;
  border:0.5px solid gray ;
  box-shadow: 0px 0px 5px 0.7px gray;
  height: 50px;
  margin: 20px;
  align-items: center;
}
 .search-bar-cotent h3:not(:nth-child(3)){
  border-right: 0.5px solid;
  gap: 4px;
 }
 h3{
  /* background-color:blue; */
  padding:0px 14px;
 }
.work45{
  width: 29px;
  height: 29px;
  border-radius: 20px;
  margin-right: 15px;
}
.search-bar:hover{
  box-shadow: 0px 0px 5px 2px gray;
}
.profile{
  width: fit-content;
  /* border: 1px solid black;  */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.profile2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account{
  border: 1px solid blue;
  display: flex;
  /* justify-content: space-between; */
  gap: 7px;
  margin: 10px;
  width: fit-content;
  height: 40px;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;

}
.num{
  margin: 15px 15px;
}
.nav-links{
  display: flex;
}

/* .hero-header{
  display: flex;
} */

.hero-header,
.nav-links,
nav{
  display: flex;
  
}

.nav-links nav div {
  display: flex;
  padding: 9px;
  flex-direction: column;
  /* background-color: black; */
  
}
.nav-links{
 width: 80%;
 overflow: hidden;
 scrollbar-width: none;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;
  
}
.hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 10px;
    align-items: center;
    /* background-color: red; */
}
nav {
    display: flex;
    padding: 5px;
    gap: 30px;
}
.nav-links div{
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.nav-links div h3:hover {
text-decoration: underline;
cursor: pointer;
}

.filter-links {
    display: flex;
    gap: 8px;
    margin-left: 10px; 
    font-size: 10px;
}

.filter {
  display: flex;
  align-items: center;
  border: 0.5px solid grey;
  border-radius:20px ;
  padding: 5.5px 10px;
  gap: 5px;
  margin-left: 20px; 

}

.filter-taxes {
  display: flex;
  align-items: center;
  border: 0.5px solid grey;
  border-radius:20px;
  padding: 5.5px 10px;
  gap: 5px;
  margin-right: 27px;   
}
.taxes i {
  color: gray;
  font-size: 20px;
}
.taxes{
  display: flex;
}
.filter-links:hover {
  cursor: pointer;
  color: green;
}
.heady{
  border: 1px solid;
  border-radius: 10px;
}
.container{
  margin: 10px;
}
.master{
  border: 1px solid;
  padding: 10px;
  height: 310px;
  border-radius: 10px;
}
.container,
.card,
img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.place{
  text-transform: uppercase;
  margin-left: -12px;
}
.rates{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.raty{
  color: blue;
}
.fa-regular:not(:nth-child(6)){
  color: gold;
}
.mainer{
  display: flex;
  flex-wrap: wrap;
  row-gap: 120px;
  padding-left: 10px;
}
body{
  padding: 0px 10px;
}