*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root{
 --main-margin:10px 20px;
 --color:red;
}
.main-header{
  margin: var(--main-margin);
}
 .main-icon img {
  width: 34px;
  height: 44px;
}
.main-icon{
 
  display: flex;
  align-items: center;

}
h1{
  color:var(--color);
}
nav{
  display: flex;
  justify-content: space-between;
}
.search-bar-cotent{
  display: flex;
  align-items: center;
}
.search-bar{
  border-radius: 28px;
  padding: 15px 1px;
  border:0.5px solid gray ;
}
 .search-bar-cotent h3:not(:nth-child(3)){
  border-right: 0.5px solid;
  gap: 4px;
 }
 h3{
  /* background-color:blue; */
  padding:0px 14px;
 }
.work45{
  width: 29px;
  height: 29px;
  border-radius: 20px;
  margin-right: 15px;
}
